#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "default, deployer, qbcore, qb-core"

## You MAY edit the following:
sv_licenseKey "cfxk_1dVXFDTTcoThnpnGCNj24_1wfuZf"
sv_hostname "tester built with QBCore Framework by JericoFx & Kakarot & Hamy!"
sets sv_projectName "[QBCore Framework] tester"
sets sv_projectDesc "An advanced FiveM RP framework including jobs, gangs, housing & more!"
sets locale "root-AQ" # replace with your language and location code, like en-US, pt-BR, etc
load_server_icon myLogo.png
sv_enforceGameBuild 3095 #DLC The Chop Shop
set resources_useSystemChat true
set mysql_connection_string "mysql://root@localhost/QBCore_A89327?charset=utf8mb4"
## ===================================================
## Voice Settings
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

## QBCore Settings
setr qb_locale "en"
setr UseTarget false

## ===================================================
## Essential Resources (FiveM / QBCore)
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents
ensure ox_lib
ensure bl_bridge
ensure qb-core
ensure illenium-appearance
setr illenium-appearance:locale "en"

## ===================================================
## Server Resources / Modules
ensure [qb]
ensure [dep]
ensure [standalone]
ensure [voice]
ensure [defaultmaps]
ensure brutal_gangs
ensure brutal_gang_actions
ensure [v1]

## ===================================================
# QBCore permissions
add_ace resource.qb-core command allow
add_ace qbcore.god command allow
add_principal qbcore.god group.admin
add_principal qbcore.god qbcore.admin
add_principal qbcore.admin qbcore.mod

# Your identifiers
add_principal license:f7e1a78526d88e6b28e4814af81bf2ecb13503e4 qbcore.god # stone4291
add_principal license:f7e1a78526d88e6b28e4814af81bf2ecb13503e4 qbcore.admin # stone4291
add_principal license:f7e1a78526d88e6b28e4814af81bf2ecb13503e4 qbcore.mod # stone4291
add_principal identifier.fivem:3841083 group.admin # stone4291
add_principal identifier.discord:1101208894178594946 group.admin # stone4291
add_principal identifier.fivem:3841083 group.admin  # Your Steam hex
add_principal identifier.fivem:3841083 qbcore.god # stone4291


# Allow qb-core to run commands
add_ace resource.qb-core command allow

# God permissions
add_ace qbcore.god command allow

# Inheritance
add_principal qbcore.god group.admin
add_principal qbcore.god qbcore.admin
add_principal qbcore.admin qbcore.mod
